body {
    font-family: 'Ubuntu', sans-serif;
}

button {
    border-radius: 5px;
    border-width: 1px;
}

input {
    border-radius: 5px;
    border-width: 1px;
}

.container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#yt-logo {
   max-width: 35%;
   position: absolute;
   top: 180px;
}

#target-dir {
    margin-top: 10px;
}

#navbar {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 35px;
    background-color: #FF0000;
    margin: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
}

#navbar ul {
    display: inline-block;
    justify-content: left;
}

#navbar li {
    margin-left: 5px;
    color: white;
}

#navbar li:hover {
    background-color: #c90202;
    cursor: pointer;
}

#sidepanel {
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 1;
    transition: 0.25s;
    background-color: #FF0000;
    overflow: hidden;
    color: white;
    align-items: center;
}

#close-btn {
    top: 0;
    left: 0;
    position: relative;
    overflow: hidden;
    transition: left 0.25s;
    margin: 5px;
    color: white;
    background-color: transparent;
    border-width: 0;
}

#close-btn:hover {
    cursor: pointer;
    background-color: #c90202;
}

#sidepanel-content {
    width: 250px;
    height: 100%;
}

#setting-selection {
    padding-top: 15px;
    padding-left: 25px;
    font-size: 20px;
}

#settings-title {
    padding-left: 25px;
    color: white;
}